# Introduction
Random forest is a Supervised Machine Learning Algorithm that is used widely in Classification and Regression problems. It builds decision trees on different samples and takes their majority vote for classification and average in case of regression.

One of the most important features of the Random Forest Algorithm is that it can handle the data set containing continuous variables as in the case of regression and categorical variables as in the case of classification. It performs better results for classification problems.

# How random forest work

Random Forest is a type of Assembly in Machine Learning where we will combine different trees -we will see how and with what characteristics- and the output of each will be counted as "one vote" and the most voted option will be the response of the forest.

The steps are the next:

* We select certain columns from the totals where we create a tree.

* We create several trees by varying the columns selected in the previous step and also the number of samples for trees, this is known as "bootstrap sample".

* All trees are classified and we get their exits.

* We selected the results with the most votes for our result.

In [1]:
import numpy
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
import pandas as pd
import random
import matplotlib.pyplot as plt
import csv 
import seaborn as sns
seed = 7
numpy.random.seed(seed)

In [2]:
train = pd.read_csv("assignment_ds.csv")
colors = ['whitish','red','pale yellow orange','white-yellow','blue','yellow-white','yellowish','yellowish white','orange-red','orange','white','blue white','blue-white']
spectral_classes = ['O', 'F', 'G', 'K', 'A', 'M', 'B']

This function allow convert a category text to a number for the reason that we can insert in the neuronal network 2 new columns.

In [3]:
def ListCagetorietoNumber(colum,list_):
    pos=0
    _number=[]
    for x in colum:
        pos=0
        for y in list_:
            if(x.lower() == y.lower()):
                _number.append(pos)
            pos+=1
    return _number
train['Number_Color']=ListCagetorietoNumber(train.Color,colors)
train['Numbr_Spectral_Class']=ListCagetorietoNumber(train.Spectral_Class,spectral_classes)
train

,Temperature,L,R,A_M,Color,Spectral_Class,Type,Number_Color,Numbr_Spectral_Class
0,3453,0.000621,0.07730,17.08,Red,M,0,1,5
1,12098,689.000000,7.01000,0.02,Blue-white,A,3,12,4
2,2731,0.000437,0.08560,18.09,Red,M,0,1,5
3,37800,202900.000000,6.86000,-4.56,Blue,O,3,4,0
4,8570,0.000810,0.00970,14.20,Blue white,A,2,11,4
...,...,...,...,...,...,...,...,...,...
195,13420,0.000590,0.00981,13.67,Blue White,B,2,11,6
196,19860,0.001100,0.01310,11.34,Blue,B,2,4,6
197,13023,998.000000,6.21000,-1.38,Blue-white,A,3,12,4
198,39000,204000.000000,10.60000,-4.70,Blue,O,3,4,0
199,12010,0.000780,0.00920,12.13,Blue White,B,2,11,6

We drop the columns of category because they has represented for other 2 columns.

In [4]:
train=train.drop(['Color','Spectral_Class'],axis=1)
starts = train.pop('Type')
train.head()

,Temperature,L,R,A_M,Number_Color,Numbr_Spectral_Class
0,3453,0.000621,0.0773,17.08,1,5
1,12098,689.000000,7.0100,0.02,12,4
2,2731,0.000437,0.0856,18.09,1,5
3,37800,202900.000000,6.8600,-4.56,4,0
4,8570,0.000810,0.0097,14.20,11,4

In [5]:
x_train, x_test, y_train, y_test = train_test_split(train, starts, test_size=0.25)

In [6]:
x_train.head()

,Temperature,L,R,A_M,Number_Color,Numbr_Spectral_Class
32,10012,552.000000,5.85600,0.013,12,4
13,9383,342940.000000,98.00000,-6.980,4,0
117,3610,132000.000000,1522.00000,-10.860,1,5
78,12990,0.000085,0.00984,12.230,7,1
131,7723,0.000140,0.00878,14.810,10,4

We call a class of a library for random forest and we realize in differents function the fit and the predict.

In [7]:
model = DecisionTreeClassifier(random_state=1)

In [8]:
model.fit(x_train,y_train)

DecisionTreeClassifier(random_state=1)

In [9]:
y_pred=model.predict(x_test)

In [10]:
comp = pd.DataFrame({'Real':y_test,'prediction':y_pred})

We get the stadistic in base of the test cases.

In [11]:
def stadistics(y_real, y_predicted):
    counter = 0
    total = len(y_real)
    for i in range(total):
        if (y_real[i] == y_predicted[i]):
            counter += 1
    acc= accuracy_score(y_real,y_predicted)
    print(f"Cantidad total de pruebas: {total}")
    print(f"Cantidad total de aciertos: {counter}")
    print(f"Porcentaje de aciertos: {counter/total*100}%")
    print(f"Accuracy: {acc}")

In [12]:
stadistics(y_pred,y_test.array)

Cantidad total de pruebas: 50
Cantidad total de aciertos: 50
Porcentaje de aciertos: 100.0%
Accuracy: 1.0

* Dump the trained decision tree classifier with Pickle
* Open the file to save as pkl file
* Close the pickle instances

In [20]:
import pickle

decision_tree_pkl_filename = 'decision_tree_classifier_20170212.pkl'
 
decision_tree_model_pkl = open(decision_tree_pkl_filename, 'wb')
pickle.dump(model, decision_tree_model_pkl)
 
decision_tree_model_pkl.close()

Loading the saved decision tree model pickle

In [19]:
decision_tree_model_pkl = open(decision_tree_pkl_filename, 'rb')
decision_tree_model = pickle.load(decision_tree_model_pkl)
print("Loaded Decision tree model :: ", decision_tree_model)

Loaded Decision tree model ::  DecisionTreeClassifier(random_state=1)

In [15]:
stars_comp = pd.read_csv("test_ds.csv")

stars_comp['Number_Color']=ListCagetorietoNumber(stars_comp.Color,colors)
stars_comp['Numbr_Spectral_Class']=ListCagetorietoNumber(stars_comp.Spectral_Class,spectral_classes)
stars_comp=stars_comp.drop(['Color','Spectral_Class'],axis=1)

stars_comp.head()

   Temperature           L       R    A_M  Number_Color  Numbr_Spectral_Class
0        21020     0.00150  0.0112  11.52             4                     6
1         2935     0.00087  0.0932  16.88             1                     5
2        16390  1278.00000  5.6800  -3.32            12                     6
3         3628     0.00550  0.3930  10.48             1                     5
4         3496     0.00125  0.3360  14.94             1                     5

We do the predict with the other test csv file.

In [16]:
y_predicted_comp=decision_tree_model.predict(stars_comp)
y_predicted_comp

array([2, 0, 3, 1, 1, 1, 3, 5, 5, 2, 4, 2, 3, 0, 0, 4, 2, 5, 1, 4, 1, 5,
       4, 4, 0, 1, 0, 5, 3, 4, 3, 3, 0, 5, 0, 1, 4, 0, 0], dtype=int64)

In [17]:
indexs = range(1,len(y_predicted_comp)+1)

In [18]:
solution = pd.DataFrame()
solution["Id"] = indexs
solution["Type"] = y_predicted_comp
solution.set_index("Id")

    Type
Id
1      2
2      0
3      3
4      1
5      1
6      1
7      3
8      5
9      5
10     2
11     4
12     2
13     3
14     0
15     0
16     4
17     2
18     5
19     1
20     4
21     1
22     5
23     4
24     4
25     0
26     1
27     0
28     5
29     3
30     4
31     3
32     3
33     0
34     5
35     0
36     1
37     4
38     0
39     0

#### Conclusions

The model of random forest let predict the inputs with a big percentage of asserts, we compare the results with the best result obtained with the neouronal network and only 
The random forest also can resolve problems of classification and regression effectively.

#### Limitations of Decision Trees

Decision trees have a tendency to over-adjust (overfit). This means that they tend to learn training data very well but their generalization is not so good. One way to improve the generalization of decision trees is to use regularization. In order to further improve the generalization capacity of decision trees, we will need to combine several trees.

#### Bibliografy
https://www.upgrad.com/blog/introduction-random-forest-algorithm/


https://www.aprendemachinelearning.com/random-forest-el-poder-del-ensamble/